body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #ece1f7;
  padding: 0rem;
}

header a {
  display: inline-flex;
  align-items: center;
}

.header-logo {
  display: block;
  width: min(150px, 60vw);
  height: auto;
}